@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

#root {
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #1c9ae8;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #218fea;
}